:root {
    --text-color:               #222222;
    --text-subtle-color:        #6f6f6f;
    --bg-color:                 #fff8f3;
    --link-color:               #006dca;
    --section-color:            #6f6f6f;
    --chord-color:              #ac5c00;
    --breadcrumb-color:         #ffdfc6;
    --breadcrumb-hover-color:   #ffc599;
}

* {
    box-sizing: border-box;
}
.flex {
    flex: 1;
}
body {
    margin: 0;
    padding: 0 8px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    
    h1 {
        font-size: 1.6rem;

        a {
            color: var(--text-color);
        }
    }
    nav {
        display: flex;
        gap: 8px;
    }
}
footer {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    font-size: 0.9rem;
    color: var(--text-subtle-color);
}
main {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto 32px;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;

    *:first-child {
        margin-top: 0;
    }
}
h1 {
    font-weight: 600;
}
h2 {
    .artist {
        display: block;
        font-size: 1rem;
        font-weight: normal;
    }
}
a {
    color: var(--link-color);
}

.breadcrumbs {
    font-size: 0.9rem;

    a {
        display: inline-block;
        background-color: var(--breadcrumb-color);
        padding: 2px 6px 4px;
        border-radius: 4px;
        text-decoration: none;
        color: var(--text-color);

        &:hover {
            background-color: var(--breadcrumb-hover-color);
        }
    }
}

.song {
    unicode-bidi: embed;
    white-space: pre;
    overflow-x: auto;
    font-family: monospace;
    font-size: 0.8rem;

    .section {
        color: var(--section-color);
    }
    .chord {
        color: var(--chord-color);
        font-weight: bold;
    }
}

#chordpro_raw {
    display: none;
}