{% extends "index.html" %}

{% block content %}
{% set _artist = get_section(path=section.ancestors | last) %}
<p class="breadcrumbs"><a href="/">Home</a> / <a href="{{ _artist.permalink }}">{{ _artist.title }}</a> / <a href="{{ section.permalink }}">[{{ section.extra.year }}] {{ section.title }}</a></p>

<h2>[{{ section.extra.year }}] {{ section.title }}</h2>

{{ section.content | safe }}

<h3>Songs</h3>

{% for song in section.pages %}
<a href="{{ song.permalink }}">{{ song.extra.number }} - {{ song.title }}</a><br>
{% endfor %}

{% endblock content %}