{% extends "song.html" %}

{% block content %}
{% set _album = get_section(path=page.ancestors | last) %}
{% set _artist = get_section(path=_album.ancestors | last) %}
<p class="breadcrumbs"><a href="/">Home</a> / <a href="{{ _artist.permalink }}">{{ _artist.title }}</a> / <a href="{{ _album.permalink }}">[{{ _album.extra.year }}] {{ _album.title }}</a> / <a href="{{ page.permalink }}">{{ page.title }}</a></p>

<h2>{{ page.title }} <span class="artist">by {{ _artist.title }}</p></h2>

<p class="song" id="chordpro_formatted"></p>
<div id="chordpro_raw">{{ page.content | striptags | safe }}</div>
{% endblock content %}