{% extends "index.html" %}

{% block content %}
<p class="breadcrumbs"><a href="/">Home</a> / <a href="{{ section.permalink }}">{{ section.title }}</a></p>

<h2>{{ section.title }}</h2>

{{ section.content | safe }}

<h3>Albums</h3>

{% for _album in section.subsections %}
{% set _section = get_section(path=_album) %}
<a href="{{ _section.permalink }}">[{{ _section.extra.year }}] {{ _section.title }}</a><br>
{% endfor %}

<h3>Singles</h3>

{% for _single in section.pages %}
<a href="{{ _single.permalink }}">{{ _single.title }}</a><br>
{% endfor %}

{% endblock content %}