<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="/main.css">
    {% block js %}{% endblock %}
</head>
<body>
    
    <header>
        <h1><a href="/">{{ config.title }}</a></h1>
        <div class="flex"></div>
        <nav>
            {% for link in config.extra.sc_nav_links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
        </nav>
    </header>

    <main>
        {% block content %}

        {{ section.content | safe }}

        <h2>Artists</h2>

        {% for _artist in section.subsections | sort %}
        {% set _section = get_section(path=_artist) %}
        <a href="{{ _section.permalink }}">{{ _section.title }}</a><br>
        {% endfor %}
    
        {% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
        <p>Generated with <a href="https://getzola.org">zola</a> using the <a href="https://codeberg.org/yarmo/static-chords">static-chords</a> (v{{ config.extra.sc_version }}) template.</p>
    </footer>

</body>
</html>