{% extends "index.html" %}

{% block js %}
<script type="module">
    import songbookChordpro from 'https://cdn.jsdelivr.net/npm/songbook-chordpro@0.1.3/+esm'

    const input = document.querySelector('#chordpro_raw')
    const output = document.querySelector('#chordpro_formatted')
    const cp = songbookChordpro.parseSong(input.innerHTML)

    cp.sections.forEach(section => {
        if (section.type === 'unknown') return
        output.innerHTML += `<span class="section">[${section.title ?? section.type}]</span>\n`

        section.lines.forEach(line => {
            let offset = 0,
                chord_line = '',
                lyric_line = ''
            switch (line.type) {
                case 'mixed':
                    line.blocks.forEach(block => {
                        lyric_line += block.lyric
                        chord_line += `${" ".repeat(offset)}`
                        if (block.chord !== '') chord_line += `<span class="chord">${block.chord}</span>`
                        offset = block.lyric.length - block.chord.length
                    })
                    const lyric_unique_chars = [... new Set(lyric_line.split(''))].sort()
                    // Temporary fix for "chords-only-before-mixed" lines
                    if (lyric_unique_chars[0] === " " && lyric_unique_chars[1] === "•") {
                        output.innerHTML += `${chord_line}\n`
                        break;
                    }
                    output.innerHTML += `${chord_line}\n${lyric_line}\n`
                    break;

                case 'chords-only':
                    line.blocks.forEach(block => {
                        if (block.chord !== "") chord_line += `${" ".repeat(offset)}<span class="chord">${block.chord}</span>`
                        offset = 1
                    })
                    output.innerHTML += `${chord_line}\n`
                    break;

                case 'lyrics-only':
                    line.blocks.forEach(block => {
                        lyric_line += block.lyric
                    })
                    output.innerHTML += `${lyric_line}\n`
                    break;
            
                default:
                    break;
            }
        })
        output.innerHTML += '\n'
    })
</script>
{% endblock js %}

{% block footer %}
<p>All content on this page is the property of the copyright owner of the original composition.</p>
<p>This page is intended as an educational resource and does not seek to violate copyrights. Visitors are encouraged to purchase official sheet music.</p>
{% endblock footer %}

{% block content %}
{% set _artist = get_section(path=page.ancestors | last) %}
<p class="breadcrumbs"><a href="/">Home</a> / <a href="{{ _artist.permalink }}">{{ _artist.title }}</a> / <a href="{{ page.permalink }}">{{ page.title }}</a></p>

<h2>{{ page.title }} <span class="artist">by {{ _artist.title }}</p></h2>

<p class="song" id="chordpro_formatted"></p>
<div id="chordpro_raw">{{ page.content | striptags | safe }}</div>
{% endblock content %}